<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">F8 education</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <div class="dropdown">
          <button
            class="btn dropdown-toggle user-name"
            type="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://files.fullstack.edu.vn/f8-prod/user_photos/228881/62e4ec20a474c.jpg"
              alt=""
              class="user-avatar"
            />
            Phan Đạt
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/courses/create">Đăng khoá học</a>
            <a class="dropdown-item" href="/me/stored/courses">Khoá học của tôi</a>
            <a class="dropdown-item" href="#">Đăng xuất</a>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>